body{
	background-color:#f8f8f8;
	font-family:calibri;
}
.book-library{
	background-color:#f8f8f8;
	margin:20px 50px;
	border:1px solid none;
	box-shadow: 5px 5px 15px 5px #888888;
	padding:3px 0px;
	
}
h1{
	text-align:center;
}
.space{
	background-color:white;
	height:30px;
}
.book{
	margin:20px;
}
img{
	margin:0% 32.5%;
}

h2,p{
	margin:0px;
}

.Author{
	color:#777777;
}

.Price-block{
	background-color:#2ecc71;
	color:white;
	justify-content:center;
	border:1px solid none;
	border-radius:3px;
	height:30px;
	display:flex;
	align-items:center;
}